<p id="notice"><%= notice %></p>

<h1>Employees</h1>

    <% @users.each do |employee| %>
    <p>
      <%= link_to employee.name, employee_path(employee) %>
      <%= employee.job_description  %>

    </p>

      <tr>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

<br>
