<p id="notice"><%= notice %></p>

<div class="employee-info text-center">
  <%= @user.name %>
  <%= @user.job_description %>
</div>

<div class="projects text-center">
  <% @projects.each do |project| %>
    <div class='project-detail'>
      <h3><%= project.title %></h3>
      <p><%= project.description %></p>

    </div>
  <% end %>
</div>

<br>
<%= link_to 'Add project', new_employee_path %>
<%= link_to 'Back', employee_path %>

